// Breakpoints for each query
@import 'variables';
@import 'mixin';
$smartphone: 480px;
$iphone-horizont: 481px;
$iphone-landscape: 767px;
$tabletPortrait: 768px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;
@mixin respondTo($media) {
  @if $media == smartphone {
    @media (max-width: $smartphone) { @content; }
  }
  @else if $media == iphone {
    @media (min-width: $iphone-horizont) and (max-width: $iphone-landscape) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) { @content; }
  }
  @else if $media == smallScreen {
    @media (max-width: $desktop) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: $desktop) { @content; }
  }
}
nav {
    // regular styles here
    @include respondTo(desktop) {
         // only add the hover effect on desktop browsers
    }
}
@include respondTo(smartphone) {
  //common classes
  .section-header  {
    font: bold 1.3rem Arial,sans-serif;
  }
  // 
  .header__service-list{
    @include flexFlow(column);
  }
  .header__service-name{
    font: 0.7rem Arial,sans-serif;
    span{
      display: none;
    }
  }
  .header__main-header{
    font: bold 1.1rem Arial,sans-serif;
  }
  .header__sub-header{
    font: 1rem Arial,sans-serif;
  }
  .header__btn{
    font: 1em Arial,sans-serif;
  }
  .landing-is__figure{
    margin: 10px 0;
  }
  .description__img{
    min-width: 100%;
    max-height: 200px;
  }
  .components__component{
    margin: 10px 0;
  }
}
@include respondTo(iphone) {
  .header__logo{
    max-width: 30%;
    position: relative;
    top: 10px;
  }
  .header__service-name{
    font: 0.7rem Arial,sans-serif;
  }
  .header__main-header{
    font: 1.5em Arial,sans-serif;
  }
  .header__sub-header{
    font: 1.5em Arial,sans-serif;
  }
  .header__btn{
    font: 0.8rem Arial,sans-serif;
  }
  .header__modal-window{

  }
  .description__img{
    min-width: 100%;
  }
  .footer__question{
    font: bold 1.8rem Arial,sans-serif;
  }
  .footer__action{
    font: bold 1.8rem Arial,sans-serif;
  }
}
@media screen and (max-width: 768px){
  .navbar{
    display: block;
  }
  .nav{
    @include flexFlow(column);
    @include aItem(flex-start);
    justify-content: flex-start;
    ul{
      width: 50%;
      display: none;
      li{
        border-bottom: 1px solid #068d94;
      }
    }
  }
  .description{
    @include flexFlow(row, wrap);
  }
}
@include respondTo(tablet) {
  .header__service-name{
    font: 1em Arial,sans-serif;
  }
  .header__main-header{
    font: bold 2rem Arial,sans-serif;
  }
  .header__sub-header{
    font: 2rem Arial,sans-serif;
  }
  .landing-is__figures{
    @include flexFlow(column, nowrap);
    @include flex(1, 1, 300px);
  }
  .description{
    @include flexFlow(row);
  }
  .description__img{
    max-width: 50%;
  }
  .projects__box{
    justify-content: center;
  }
  .projects__project{
    margin: 0 50px;
  }
}