@mixin dFlex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
@mixin flex($grow:0, $shrink:1, $basis:auto){
-webkit-flex: $grow $shrink $basis;
-moz-flex: $grow $shrink $basis;
-ms-flex: $grow $shrink $basis;
-o-flex: $grow $shrink $basis;
flex: $grow $shrink $basis;	
}
@mixin fxOrder($n:0){
-webkit-order: $n;
-moz-order: $n;
-ms-order: $n;
-o-order: $n;
order: $n;
}
@mixin flexFlow($direction:row, $wrap: nowrap){
-webkit-flex-flow: $direction $wrap;
-moz-flex-flow: $direction $wrap;
-ms-flex-flow: $direction $wrap;
-o-flex-flow: $direction $wrap;
flex-flow: $direction $wrap;
}
@mixin aItem($prm:stretch){
	-ms-align-items: $prm;
	align-items: $prm;
}
@mixin transition($property:all, $duration:0s, $timing-func:ease, $delay:0s){
	-webkit-transition: $property $duration $timing-func $delay;
	-o-transition: $property $duration $timing-func $delay;
	transition: $property $duration $timing-func $delay;
}
@mixin transform($prop){
	-webkit-transform: $prop;
	-ms-transform: $prop;
	-o-transform: $prop;
	transform: $prop;
}
@mixin backfaceVisibility($param){
	-webkit-backface-visibility: $param;
	-moz-backface-visibility: $param;
	-o-backface-visibility: $param;
	backface-visibility: $param;
}