$brand-color: #5AAAE2;
$accent-color: #203F4E;
$headers-color: #000;
$content-color: #555;
$content-color2: #fff;
$txt-color-description: #000;
$txt-color-menu: #fff;
$fz-content: 16px;
$fz-service: 13px;
$fz-service-header: 1.25rem;
$fz-section-header: 2.5rem;
$fz-header: 3rem;