/*
Theme Name: Landing Studio
Theme URI: http://web-tehnology.com/
Description: Theme for WEB-tehnology
Version: 2.0
Author: WEB-technology
Author URI: http://web-tehnology.com/
Метки: mobile, social bookmarking, valid html, valid css
*/
/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }

body {
	line-height: 1; }

ol, ul {
	list-style: none; }

blockquote, q {
	quotes: none; }

blockquote:before, blockquote:after {
	content: '';
	content: none; }

q:before, q:after {
	content: '';
	content: none; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

button {
	cursor: pointer; }

.cssload-container {
	position: fixed;
	width: 100vw;
	height: 100%;
	text-align: center;
	background-color: #203F4E;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999; }

.cssload-speeding-wheel {
	width: 106px;
	height: 106px;
	margin: 0 auto;
	border: 6px solid rgba(255, 255, 255, 0.99);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 800ms infinite linear;
	-o-animation: cssload-spin 800ms infinite linear;
	-ms-animation: cssload-spin 800ms infinite linear;
	-webkit-animation: cssload-spin 800ms infinite linear;
	-moz-animation: cssload-spin 800ms infinite linear; }

@keyframes cssload-spin {
	100% {
		transform: rotate(360deg);
		transform: rotate(360deg); } }
@-o-keyframes cssload-spin {
	100% {
		-o-transform: rotate(360deg);
		transform: rotate(360deg); } }
@-ms-keyframes cssload-spin {
	100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg); } }
@-webkit-keyframes cssload-spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg); } }
@-moz-keyframes cssload-spin {
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg); } }
/*###common classes##*/
.container {
	width: 90vw;
	padding: 40px 0;
	margin: auto; }

.section-header {
	color: #000;
	text-transform: uppercase;
	text-align: center;
	font: bold 2.3rem Arial, sans-serif; }

.mark {
	color: #5AAAE2; }

.underline-header {
	border: none;
	outline: none;
	height: 1px;
	background-color: #5AAAE2;
	margin: 20px 0; }

/*##*/
/*fix-menu*/
.navbar {
	border: 2px solid #fff;
	border-radius: 5px;
	display: none;
	margin: 10px 0 10px 10px;
	background: #5AAAE2;
	/* height: 31px; */ }

.bar1, .bar2, .bar3 {
	height: 5px;
	background-color: #203F4E;
	display: block;
	margin: 6px 0;
	width: 35px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s; }

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	-ms-transform: rotate(-45deg) translate(-9px, 6px);
	-o-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
	opacity: 0; }

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	-ms-transform: rotate(45deg) translate(-8px, -8px);
	-o-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px); }

.nav {
	position: fixed;
	z-index: 999;
	width: 100%;
	background: #203F4E;
	border-bottom: 1px solid #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center; }
	.nav ul {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex; }
		.nav ul li {
			text-align: center; }
			.nav ul li a {
				display: block;
				text-decoration: none;
				text-align: center;
				padding: 1vw;
				font: 16px Arial,sans-serif;
				color: #fff;
				-webkit-transition: all 0.3s ease-in 0s;
				-o-transition: all 0.3s ease-in 0s;
				transition: all 0.3s ease-in 0s; }
			.nav ul li.blog_studio {
				border-left: 1px solid transparent;
				border-image: linear-gradient(#203f4e, #5aaae2, #203f4e);
				border-image-slice: 1; }
				.nav ul li a:hover {
					color: `; }
				.nav ul li a:active {
					-webkit-transform: scale(2);
					-ms-transform: scale(2);
					-o-transform: scale(2);
					transform: scale(2); }
				.nav ul li a:focus {
					background-color: #5AAAE2;
					color: #fff;
					-webkit-transform: scale(1.1);
					-ms-transform: scale(1.1);
					-o-transform: scale(1.1);
					transform: scale(1.1); }

.header {
	min-height: 100vh;/* переопределение в custom.js ::::::::::::*/
	background: transparent url("img/background/bg-header.jpg") left top fixed;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-size: cover; }

.header__logo {/* переопределение в custom.js ::::::::::::*/
	margin: 50px 0 0; }

.header__service-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center; }

.header__service {
	text-align: center; }

.header__main-header, .header__sub-header {
	text-align: center; }

.header__service-name {
	color: #fff;
	text-align: justify;
	font: 1.2rem Arial,sans-serif; }

.header__main-header {
	font: bold 3rem Arial, sans-serif;
	color: #5AAAE2; }

.header__sub-header {
	font: 2rem Arial,sans-serif;
	color: #fff; }

.header__btn {
	background-color: transparent;
	color: #5AAAE2;
	text-transform: uppercase;
	font-size: 18px;
	margin: 25px 0;
	padding: 10px;
	border: 1px solid #999;
	-webkit-transition: all 0.4s ease-in 0s;
	-o-transition: all 0.4s ease-in 0s;
	transition: all 0.4s ease-in 0s; }
	.header__btn:hover {
		background-color: #fff;
		color: #000; }

.header__modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	opacity: 0; }

.header__modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: rgba(0, 0, 0, 0.7);
	width: 100vw;
	height: 100vh; }

.header__modal-success, .header__modal-error {
	position: absolute;
	margin: auto;
	top: 50%;
	align-content: center;
	z-index: 999999999;
	width: 300px;
	height: 100px;
	padding: 22px;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	font: 1.5rem Arial,sans-serif; }

.header__modal-success {
	background-color: #1D7D19;
	display: none; }

.header__modal-error {
	background-color: #F30E0E;
	display: none; }

.header__modal_hide {
	display: none; }

.header__modal-window {
	background-color: #203F4E;
	padding: 40px 20px 0 20px;
	z-index: 9999999;
	position: relative;
	border-radius: 5px; }

.triangle {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: 40px solid #fff;
	border-right: 40px solid transparent; }

.close-window {
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	background: transparent url("img/modal_close.png") left top no-repeat;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s; }
	.close-window:hover {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg); }
	.close-window:active {
		-webkit-transform: scale(2.2);
		-ms-transform: scale(2.2);
		-o-transform: scale(2.2);
		transform: scale(2.2); }

.header__modal-window-header, .header__modal-window-subheader {
	text-align: center;
	color: #fff; }

.header__modal-window-header {
	font: bold 1.5rem Arial, sans-serif;
	text-transform: uppercase; }

.header__modal-window-subheader {
	font: lighter 12px Arial,sans-serif; }

.header__modal-window-form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-ms-align-items: center;
	align-items: center; }

.header__modal-window-header, .header__modal-window-subheader, .header__modal-window-name, .header__modal-window-mail, .header__modal-window-tel, .header__modal-window-send {
	margin-bottom: 20px; }

.header__modal-window-name, .header__modal-window-mail, .header__modal-window-tel {
	background-color: transparent;
	outline: none;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #fff;
	text-align: center;
	color: #fff;
	width: 80%;
	-webkit-transition: all 0.4s ease-out 0.1s;
	-o-transition: all 0.4s ease-out 0.1s;
	transition: all 0.4s ease-out 0.1s; }
	.header__modal-window-name:focus, .header__modal-window-mail:focus, .header__modal-window-tel:focus {
		-webkit-transform: scale(1.1) rotateY(360deg);
		-ms-transform: scale(1.1) rotateY(360deg);
		-o-transform: scale(1.1) rotateY(360deg);
		transform: scale(1.1) rotateY(360deg);
		border-bottom: 1px solid #5AAAE2;
		box-shadow: 0px 1px 0px #5AAAE2; }

.header__modal-window-send {
	background-color: #fff;
	color: #555;
	padding: 5px 65px;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s; }
	.header__modal-window-send:active {
		-webkit-transform: scale(0.9) translateY(-10px);
		-ms-transform: scale(0.9) translateY(-10px);
		-o-transform: scale(0.9) translateY(-10px);
		transform: scale(0.9) translateY(-10px); }

.landing-is {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center; }
	.landing-is .container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-flow: column nowrap;
		-moz-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-o-flex-flow: column nowrap;
		flex-flow: column nowrap; }

.landing-is__is {
	font: 16px Arial, sans-serif;
	text-align: center;
	width: 80vw;
	margin: auto;
	color: #000; }

.landing-is__figures {
	margin: 40px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; }

.landing-is__figure {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap;
	justify-content: center;
	-webkit-flex: 1 1 300px;
	-moz-flex: 1 1 300px;
	-ms-flex: 1 1 300px;
	-o-flex: 1 1 300px;
	flex: 1 1 300px;
	margin: 10px 50px; }
	.landing-is__figure:hover .landing-is__icon {
		color: #000;
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
		transform: translateY(-10px); }

.landing-is__icon {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	color: #34B1DF;
	margin-right: 10px;
	font-size: 2rem; }

.landing-is__article-header {
	font: bold 1.125em Arial,sans-serif;
	margin-bottom: 10px; }

.description {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-o-flex-flow: row nowrap;
	flex-flow: row nowrap; }

.description__img {
	height: 100vh;
	max-width: 100%; }

.description__article {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	padding: 0 3vw; }

.description__header-main {
	color: #000;
	font: 1.875rem Arial, Helvetica sans-serif;
	margin: 20px 0; }

.description__header-sub {
	color: #000;
	font: bold 16px Arial, sans-serif; }

.description__content {
	color: #000;
	font: 16px Arial, sans-serif;
	text-align: justify;
	margin: 20px 0 0 0; }

.web-programmms__content, .web-programms__sub-header, .projects__content, .components__content, .order-to__content, .steps__content {
	text-align: center;
	margin-bottom: 20px;
	line-height: 25px;
	font: 16px Arial, sans-serif;
	color: #555; }

.web-programms__sub-header {
	font: bold 16px Arial, sans-serif; }

.projects .container {
	padding-bottom: 0;
}

.projects__box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-between; }

.projects__project {
	margin: 5px auto;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	width: 300px;
	height: 250px; }
	.projects__project:hover .projects__project-front {
		opacity: 0; }
	.projects__project:hover .projects__project-backend {
		opacity: 1; }
	.projects__project:hover .projects__project-flipper {
		-webkit-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		transform: rotateY(180deg);
		cursor: pointer; }

.projects__project-flipper {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.6s ease 0s;
	-o-transition: all 0.6s ease 0s;
	transition: all 0.6s ease 0s;
	position: relative; }
	.projects__project-flipper:hover {
		-webkit-transform: rotateY(180deg);
		-ms-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		transform: rotateY(180deg);
		cursor: pointer; }

.projects__project-front, .projects__project-backend {
	color: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s; }

.projects__project-logo {
	width: 300px;
	height: 230px;
	border-radius: 10px; }

.projects__project-backend {
	background: #203F4E;
	opacity: 0;
	border-radius: 10px;
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 10px 20px; }

.projects__project-backend-inner {
	padding: 33px 24px 0 28px; }

.projects__project-client-name {
	margin-bottom: 15px;
	font-size: 18px; }

.projects__project-client-comment {
	margin-bottom: 20px; }

.projects__project-client-link {
	padding: 5px 15px 6px;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	background: #5AAAE2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s; }
	.projects__project-client-link:hover {
		color: #2f479e;
		background: #fff; }

.components .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	justify-content: center; }

.components__box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%; }

.components__component {
	margin: 20px;
	-webkit-flex: 1 1 350px;
	-moz-flex: 1 1 350px;
	-ms-flex: 1 1 350px;
	-o-flex: 1 1 350px;
	flex: 1 1 350px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex; }
	.components__component:hover .components__icon {
		color: #000;
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
		transform: translateY(-10px); }

.components__icon {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	color: #34B1DF;
	margin-right: 10px;
	font-size: 2rem; }

.components__article-header {
	font: bold 18px Arial,sans-serif; }

.components__article-content {
	font: 13px Arial, sans-serif;
	line-height: 25px;
	color: #555; }

.order-to {
	background: transparent url(img/background/bg-3.jpg) 0 0 no-repeat;
	background-size: cover;
	padding: 60px 0; }

.order-to__header {
	color: #fff; }

.order-to__content {
	color: #fff; }

.order-to__btn {
	background-color: transparent;
	border: 1px solid #999;
	font: 1.3rem Arial, sans-serif;
	color: #5AAAE2;
	display: block;
	margin: auto;
	padding: 10px 20px;
	-webkit-transition: all 0.4s ease-in 0s;
	-o-transition: all 0.4s ease-in 0s;
	transition: all 0.4s ease-in 0s; }
	.order-to__btn:hover {
		background-color: #fff;
		color: #000; }

.steps .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap; }

.steps__etaps {
	max-width: 100%;
	height: auto; }

.steps__etap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	-moz-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	-o-flex-flow: column nowrap;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 20vw;
	height: 20vw; }

.line {
	height: 2px;
	width: 30px;
	background: #5AAAE2;
	border: none;
	box-shadow: none;
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	left: 0; }

.steps__etap.n1 {
	top: 0;
	left: 0; }

.steps__etap.n2 {
	top: 50%;
	left: 20%; }

.steps__etap.n3 {
	top: 0;
	left: 40%; }

.steps__etap.n4 {
	top: 50%;
	left: 60%; }

.steps__etap.n5 {
	top: 0;
	left: 80%; }

.steps__etap-content {
	padding: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	background-color: #203F4E;
	border: 0.3vw solid #5AAAE2;
	border-radius: 100vw;
	box-shadow: 1px 1px 10px #000; }

.steps__etap-icon {
	color: #5AAAE2; }

.steps__etap-name {
	text-align: center;
	width: 40%;
	line-height: 20px;
	color: #555; }

.footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	-moz-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	-o-flex-flow: column wrap;
	flex-flow: column wrap;
	-ms-align-items: center;
	align-items: center;
	background-color: #203F4E;
	justify-content: center;
	padding-bottom: 20px; }
	.footer .container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		-moz-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		-o-flex-flow: row wrap;
		flex-flow: row wrap;
		justify-content: center;
		padding: 10px; }

.footer__action, .footer__tel, .footer__skype, .footer__email {
	color: #fff;
	font-weight: bold;
	text-align: center; }

.footer__action {
	font: bold 2.5rem Arial, sans-serif; }

.footer__question, .footer__action {
	text-transform: uppercase; }

.footer__question {
	font: bold 3rem Arial, sans-serif;
	text-align: center; }

.footer__contact, .footer__tel, .footer__skype {
	font: bold 1.8rem Arial, sans-serif; }

.footer__email {
	font: 1.5rem Arial,sans-serif; }

.footer__btn {
	font: bold 20px Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	border: 1px solid #999;
	background-color: #5AAAE2;
	padding: 15px 30px;
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
	display: inline-block;
	margin: auto;
	margin-bottom: 15px; }
	.footer__btn:hover {
		background-color: #5AAAE2;
		-webkit-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-o-transform: scale(0.9);
		transform: scale(0.9); }

@media (max-width: 480px) {
	.section-header {
		font: bold 1.3rem Arial,sans-serif; }

	.header__service-list {
		-webkit-flex-flow: column nowrap;
		-moz-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-o-flex-flow: column nowrap;
		flex-flow: column nowrap; }

	.header__service-name {
		font: 0.7rem Arial,sans-serif; }
		.header__service-name span {
			display: none; }

	.header__main-header {
		font: bold 1.1rem Arial,sans-serif; }

	.header__sub-header {
		font: 1rem Arial,sans-serif; }

	.header__btn {
		font: 1em Arial,sans-serif; }

	.landing-is__figure {
		margin: 10px 0; }

	.description__img {
		min-width: 100%;
		max-height: 200px; }

	.components__component {
		margin: 10px 0; } }
@media (min-width: 481px) and (max-width: 767px) {
	.header__logo {
		max-width: 30%;
		position: relative;
		top: 10px; }

	.header__service-name {
		font: 0.7rem Arial,sans-serif; }

	.header__main-header {
		font: 1.5em Arial,sans-serif; }

	.header__sub-header {
		font: 1.5em Arial,sans-serif; }

	.header__btn {
		font: 0.8rem Arial,sans-serif; }

	.description__img {
		min-width: 100%; }

	.footer__question {
		font: bold 1.8rem Arial,sans-serif; }

	.footer__action {
		font: bold 1.8rem Arial,sans-serif; } }
@media screen and (max-width: 768px) {
	.navbar {
		display: block; }

	.nav {
		-webkit-flex-flow: column nowrap;
		-moz-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-o-flex-flow: column nowrap;
		flex-flow: column nowrap;
		-ms-align-items: flex-start;
		align-items: flex-start;
		justify-content: flex-start; }
		.nav ul {
			width: 100%;
			display: none; }
			.nav ul li {
				border-bottom: 1px solid #068d94; }

	.description {
		-webkit-flex-flow: row wrap;
		-moz-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		-o-flex-flow: row wrap;
		flex-flow: row wrap; } }
@media (min-width: 768px) and (max-width: 1024px) {
	.header__service-name {
		font: 1em Arial,sans-serif; }

	.header__main-header {
		font: bold 2rem Arial,sans-serif; }

	.header__sub-header {
		font: 2rem Arial,sans-serif; }

	.landing-is__figures {
		-webkit-flex-flow: column nowrap;
		-moz-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		-o-flex-flow: column nowrap;
		flex-flow: column nowrap;
		-webkit-flex: 1 1 300px;
		-moz-flex: 1 1 300px;
		-ms-flex: 1 1 300px;
		-o-flex: 1 1 300px;
		flex: 1 1 300px; }

	.description {
		-webkit-flex-flow: row nowrap;
		-moz-flex-flow: row nowrap;
		-ms-flex-flow: row nowrap;
		-o-flex-flow: row nowrap;
		flex-flow: row nowrap; }

	.description__img {
		max-width: 50%; }

	.projects__box {
		justify-content: center; }

	.projects__project {
		margin: 0 50px; } }

/* Блог 333 
******************************/
.bg_container {
	padding: 60px 0;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.bg_blogs {
	width: 75%;
	float: left;
	padding: 0;
	font-size: 16px;

	position: relative;
}

/* :::::: Тело статьи :::::: */

.bg_blog-item {
    padding: 10px;
    width: 48%;
    background: rgba(255, 255, 255, .3);
    text-align: left;
    box-shadow: 0 0 8px rgba(90, 170, 226, .3);
    margin-bottom: 25px;
    float: left;
    position: absolute;
}
.bg_blog-item:first-of-type {
    width: 100%}
.bg_blogs .bg_blog-item:first-of-type>div {
    width: auto;
}
.bg_blog-item>div {
    height: auto;
}
.bg_blog-item .wp-post-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    min-height: 150px;
}
.bg_blog-item .more-link-wr {
    float: none;
    margin: 0;
    border-top: 1px solid #203f4e;
    text-align: right;
}
.bg_blog-item>.thumbnail img {
    width: 100%}
.bg_blog-item .attachment-post-thumbnail, .bg_blog-item .thumbnail {
    margin-bottom: 20px;
}
.bg_blog-item h2 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 25px;
}
.bg_blog-item h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}
.bg_blog-item p {
    margin-bottom: 20px;
}
.bg_blog-item p:first-child, .bg_blog-item .wp-caption-text {
    margin-bottom: 0;
}
.wp-caption-text {
    margin: 10px auto 0;
    text-align: center;
}
.bg_blog-item .more-link {
    font-size: 20px;
    text-decoration: none;
    text-transform: lowercase;
    font-style: italic;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background: #203f4e;
    transition: box-shadow .3s;
}
.bg_blog-item .more-link:hover {
    box-shadow: inset 0 0 50px rgba(255, 255, 255, .2);
}

/* :::::: Сайдбар :::::: */
.bg_sidebar {
	width: 23%;
	float: right;
	font-size: 18px;
	text-align: left;
}

.bg_sidebar-items {
	margin-bottom: 10px;
}

.bg_sidebar-items h2 {
	height: 40px;
	line-height: 30px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 5px 15px 0;
	margin: 0 0 1px;
	width: 100%;
	text-transform: uppercase;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: linear-gradient(90deg, #5aaae2 0%, #203f4e 5%,  #203f4e 95%, #5aaae2 100%);
}

.bg_sidebar-items li {
	padding: 0;
	width: 100%;
	background: linear-gradient(90deg, #5aaae2 0%, #203f4e 5%,  #203f4e 95%, #5aaae2 100%);
}

.bg_sidebar-items a {
	text-decoration: none;
	color: #fff;
	background: url(img/background/separator2.png) no-repeat;
	background-position: center bottom;
	z-index: 5;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	height: 35px;
	line-height: 33px;
	transition: color .3s;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.bg_sidebar-items a:first-letter { text-transform: uppercase; }

.bg_sidebar-items li:last-of-type a { background: none; }

.bg_sidebar-items a:hover { color: #ffdf00; }

#calendar_wrap {/*:::::::::::: Календарь */
	padding: 5px;
	margin: 0;
	height: auto;
	background: linear-gradient(90deg, #5aaae2 0%, #203f4e 5%,  #203f4e 95%, #5aaae2 100%);
}

#wp-calendar { width: 100%; }

#wp-calendar * {
	text-align: center;
	color: #fff;
	padding: 0 ;
}

#wp-calendar caption { padding: 5px 0; }

#wp-calendar th,
#wp-calendar td { padding: 5px 0; }

#wp-calendar a {
	display: inline;
	line-height: 10px;
	border: none;
	background: none;
	color: #5aaae2;
}

#wp-calendar a:hover { color: #ffdf00; }

#wp-calendar tr {
	padding: 5px 0;
}

.not-found {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	margin: 0 auto;
	float: none !important;
}

.not-found h2 {
	text-align: center;
	margin: 0;
	padding: 0;
}

/* :::::: Партнеры :::::: */
.bg_partners {
	width: 100%;
	text-align: center;
}

.bg_partners section { margin-bottom: 50px; }
.bg_partners section:last-of-type { margin-bottom: 0; }

.our-partners::after {
	display: block;
	content: '';
	clear: both;
}

.our-partners { text-align: center; }

.partner-item {
	width: 300px;
	height: 200px;
	margin: 10px 10px;
	display: inline-block;
	box-shadow: 0 0 8px rgba(90,170,226,.5);
	position: relative;
	z-index: 0;
	top: 0;
	overflow: hidden;
}

.partner-item::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: #203f4e;
	position: absolute;
	top: 105%;
	left: 0;
	transition: top .25s linear;
}

.bg_partners h2 {
	font-size: 30px;
	font-weight: bold;
	color: #000;
	margin-bottom: 20px;
}

.partner-item .routine {
	text-align: left;
	position: absolute;
	display: inline-block;
	top: 105%;
	width: 95%;
	left: 10px;
	margin-top: 60px;
	font-size: 16px;
	color: #fff;
	z-index: 3;
	transition: top .25s linear;
}

.partner-item h3.routine {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.partner-item p.routine {
	height: 40%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.partner-item a.routine {
	margin: 0;
	color: #fff;
	padding: 5px 10px;
	background: #5aaae2;
	width: auto;
	border-radius: 10px;
	text-decoration: none;
	transition: box-shadow .3s, color .3s, background .3s, top .25s linear;
	font-weight: bold;
}

.partner-item a.routine:hover {
	box-shadow: 0 0 0 2px rgba(255,255,255,.3);
	color: #5aaae2;
	background: #fff;
}

.partner-item:hover::after,
.partner-item:hover .routine { top: 0; }

.partner-item:hover a.routine { top: 80%; }

.partner-item img {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* Медиа запросы блога и клиентов
******************************/
@media (min-width: 1200px) {
	.bg_container { width: 970px; }
}
@media (max-width: 992px) {
	.bg_blog-item {
		width: 100%;
		margin-left: 0 !important;
	}

	.bg_blog-item > div { width: auto !important; }/* обертка картинки статьи ::::::::::::*/
}
@media (max-width: 768px) {
	.blog_studio {
		border-top: 3px solid #068d94;
		border-bottom: 1px solid #068d94;
		border-image: none !important;
	}

	.bg_container { padding: 40px 0 30px; }

	.bg_blogs { width: 100%; }

	.bg_sidebar {
		width: 400px;
		position: relative;
		left: 50%;
		float: none;
		margin: 0 0 40px -200px;
	}

	.bg_sidebar li { text-align: center; }
}
@media (max-width: 600px) {
	.bg_blog-item > div {/* обертка картинки статьи ::::::::::::*/
		float: none;
		margin-right: 0;
	}

	.bg_blog-item img {
		width: 100%;
	}

	.bg_sidebar {
			width: 100%;
			position: relative;
			left: 0;
			margin: 0 0 40px 0;
		}

	.partner-item {
		width: 250px;
	}
}
.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}
.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}
.aligncenter {
    margin-left: auto;
    margin-right: auto;
}
.aligncenter, .alignright, .alignleft {
    display: block;
    margin-top: 10px;
}