@import 'config/reset.scss';
@import 'config/variables';
@import 'config/mixin';
@import 'config/fonts';
//preloader
.cssload-container {
	position: fixed;
	width: 100vw;
	height: 100%;
	text-align: center;
	background-color: $accent-color;
	@include dFlex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.cssload-speeding-wheel {
	width: 106px;
	height: 106px;
	margin: 0 auto;
	border: 6px solid rgba(255,255,255,0.99);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 800ms infinite linear;
	-o-animation: cssload-spin 800ms infinite linear;
	-ms-animation: cssload-spin 800ms infinite linear;
	-webkit-animation: cssload-spin 800ms infinite linear;
	-moz-animation: cssload-spin 800ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
/*###common classes##*/
.container{
	width: 90vw;
	padding: 40px 0;
	margin: auto;
}
.section-header{
	color: $headers-color;
	text-transform: uppercase;
	text-align: center;
	font: bold 2.3rem Arial, sans-serif;
}
.mark{
	color: $brand-color;
}
.underline-header{
	border: none;
	outline: none;
	height: 1px;
	background-color: $brand-color;
	margin: 20px 0;
}
/*##*/
/*fix-menu*/
.navbar{
	border: 2px solid #fff;
	border-radius: 5px;
	display: none;
	margin: 10px 0 10px 10px;
	background: $brand-color;
  /* height: 31px; */
}
.bar1,.bar2,.bar3{
		height: 5px;
		background-color: $accent-color;
		display: block;
		margin: 6px 0;
		width: 35px;
		@include transition(all, .3s);
}
.change .bar1 {@include transform(rotate(-45deg) translate(-9px, 6px));}
.change .bar2 {opacity: 0;}
.change .bar3 {@include transform(rotate(45deg) translate(-8px, -8px));}
.nav{
	position: fixed;
	z-index: 999;
	width: 100%;
	background: $accent-color;
	border-bottom: 1px solid #fff;
	@include dFlex;
	justify-content: center;
	@include aItem(center);
	ul{
		@include dFlex;
		li{
			text-align: center;
			a{
				display: block;
				text-decoration: none;
				text-align: center;
				padding: 1vw;
				font: 16px Arial,sans-serif;
				color: $txt-color-menu;
				@include transition(all, 0.3s, ease-in);
				&:hover{
					color: $brand-color;
				}
				&:active{
					@include transform(scale(2));
				}
				&:focus{
					background-color: $brand-color;
					color: $txt-color-menu;
					@include transform(scale(1.1));
				}
			}
		}
	}
}
.header{
	min-height: 100vh;
	background:transparent url('../img/background/bg-header.jpg') left top fixed;
	@include dFlex;
	@include flexFlow(column);
	justify-content: center;
	align-items: center;
	background-size: cover;
}
.header__logo{
	margin: 50px 0 0;
}
.header__service-list{
	@include dFlex;
	@include aItem(center);
}
.header__service{
	text-align: center;
}
.header__main-header,.header__sub-header{
	text-align: center;
}
.header__service-name{
	color: #fff;
	text-align: justify;
	font: 1.2rem Arial,sans-serif;
}
.header__main-header{
	font: bold $fz-header Arial,sans-serif;
	color: $brand-color;
}
.header__sub-header{
	font: 2rem Arial,sans-serif;
	color: #fff;
}
.header__btn{
	background-color: transparent;
	color: $brand-color;
	text-transform: uppercase;
	font-size: 18px;
	margin: 25px 0;
	padding: 10px;
	border: 1px solid #999;
	@include transition(all, .4s, ease-in);
	&:hover{
		background-color: #fff;
		color: #000;
	}
}
.header__modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	@include dFlex;
	@include aItem(center);
	justify-content: center;
	opacity: 0;
}
.header__modal-bg{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: rgba(0, 0, 0, .7);
	width: 100vw;
	height: 100vh;
}
.header__modal-success, .header__modal-error{
		position: absolute;
		margin: auto;
		top: 50%;
		align-content: center;
		z-index: 999999999;
		width: 300px;
		height: 100px;
		padding: 22px;
		color: #fff;
		text-align: center;
		border-radius: 10px;
		font: 1.5rem Arial,sans-serif;
}
.header__modal-success{
	background-color: #1D7D19;
	display: none;
}
.header__modal-error{
	background-color: #F30E0E;
	display: none;
}
.header__modal_hide{
	display: none;
}
.header__modal-window{
	background-color: $accent-color;
	padding: 40px 20px 0 20px;
	z-index: 9999999;
	position: relative;
	border-radius: 5px;
}
.triangle{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: 40px solid #fff;
	border-right: 40px solid transparent;
}
.close-window{
	cursor: pointer;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
	background:transparent url('../img/modal_close.png') left top no-repeat;
	@include transition(all , .3s);
	&:hover{@include transform(rotate(360deg));}
	&:active{@include transform(scale(2.2));}
}
.header__modal-window-header,.header__modal-window-subheader{
	text-align: center;
	color: $content-color2;
}
.header__modal-window-header{
	font: bold 1.5rem Arial, sans-serif;
	text-transform: uppercase;;
}
.header__modal-window-subheader{
	font: lighter 12px Arial,sans-serif;
}
.header__modal-window-form{
	@include dFlex;
	@include flexFlow(column);
	@include aItem(center);
}
.header__modal-window-header,.header__modal-window-subheader,.header__modal-window-name,.header__modal-window-mail,.header__modal-window-tel,.header__modal-window-send{
	margin-bottom: 20px;
}
.header__modal-window-name,.header__modal-window-mail,.header__modal-window-tel{
	background-color: transparent;
	outline: none;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #fff;
	text-align: center;
	color: $content-color2;
	width: 80%;
	@include transition(all, .4s, ease-out, 0.1s);
	&:focus{
		@include transform(scale(1.1) rotateY(360deg));
		border-bottom: 1px solid $brand-color;
		box-shadow: 0px 1px 0px $brand-color;
	}
}
.header__modal-window-send{
	background-color: $content-color2;
	color: $content-color;
	padding: 5px 65px;
	@include transition(all, 0.2s);
	&:active{
		@include transform(scale(0.9) translateY(-10px));
	}
}
.landing-is{
	@include dFlex;
	@include aItem(center);
	justify-content: center;
	.container{
		@include dFlex;
		@include flexFlow(column);
	}	
}
.landing-is__header{}
.landing-is__is{
	font: $fz-content Arial,sans-serif;
	text-align: center;
	width: 80vw;
	margin: auto;
	color: #000;
}
.landing-is__figures{
	margin: 40px 0;
	@include dFlex;
	@include flexFlow(row, wrap);
}
.landing-is__figure{
	@include dFlex;
	@include flexFlow(row);
	justify-content: center;
	@include flex(1, 1, 300px);
	margin: 10px 50px;
	&:hover{
		.landing-is__icon{
			color: #000;
			@include transform(translateY(-10px));
		}
	}
}
.landing-is__icon{
	@include transition(all, .3s);
	color: #34B1DF;
	margin-right: 10px;
	font-size: 2rem;
}
.landing-is__article{}
.landing-is__article-header{
	font: bold 1.125em Arial,sans-serif;
	margin-bottom: 10px;
}
.landing-is__article-content{}
.description{
	@include dFlex;
	@include flexFlow(row, nowrap);
}
.description__img{
	height: 100vh;
	max-width: 100%;
}
.description__article{
	@include dFlex;
	@include flexFlow(column);
	padding: 0 3vw;
}
.description__header{}
.description__header-main{
	color: $txt-color-description;
	font: 1.875rem Arial, Helvetica sans-serif;
	margin: 20px 0;
}
.description__header-sub{
	color: $txt-color-description;
	font: bold $fz-content Arial,sans-serif;
}
.description__content{
	color: $txt-color-description;
	font: $fz-content Arial,sans-serif;
	text-align: justify;
	margin:  20px 0 0 0;
}
.web-programms{}
.web-programms__header{}
.web-programmms__content,.web-programms__sub-header,.projects__content,.components__content,.order-to__content,.steps__content{
	text-align: center;
	margin-bottom: 20px;
	line-height: 25px;
	font: $fz-content Arial,sans-serif;
	color: $content-color;
}
.web-programmms__content{}
.web-programms__sub-header{
	font: bold $fz-content Arial,sans-serif;
}
.projects{}
.projects__content{}
.projects__box{
	@include dFlex;
	@include flexFlow(row, wrap);
	justify-content: space-between;
}
.projects__project{
	margin: 5px auto;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	width: 300px;
	height: 300px;
	&:hover{
		.projects__project-front{
			opacity: 0;
		}
		.projects__project-backend{
			opacity: 1;
		}
		.projects__project-flipper{
			@include transform(rotateY(180deg));
			cursor: pointer;	
		}	
	}
}
.projects__project-flipper{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	@include transition(all, .6s);
	position: relative;
	&:hover{
		@include transform(rotateY(180deg));
		cursor: pointer;
	}
}
.projects__project-front{}
.projects__project-front,.projects__project-backend{
	color: #fff;
	@include backfaceVisibility(hidden);
	@include transition(all,.3s);
}
.projects__project-logo{ width: 300px; height: 300px; border-radius: 10px;}
.projects__project-backend{
	background: $accent-color;
	opacity: 0;
	border-radius: 10px;
	@include transform(rotateY(180deg));
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 10px 20px;
}
.projects__project-backend-inner{}

.projects__project-backend-inner{
	padding: 33px 24px 0 28px;
}
.projects__project-client-name{margin-bottom: 15px;font-size: 18px;}
.projects__project-client-comment{margin-bottom: 20px;}
.projects__project-client-link{
	padding: 5px 15px 6px;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	background: $brand-color;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	@include transition(all, .3s);
	&:hover{
		color: #2f479e;background: #fff
	}
}
.components{
	.container{
		@include dFlex;
		@include flexFlow(column);
		justify-content: center;
	}
}
.components__header{}
.components__content{}
.components__box{
	@include dFlex;
	@include flexFlow(row,wrap);
	justify-content: space-between;
	width: 100%;
}
.components__component{
	margin: 20px;
	@include flex(1,1,350px);
	@include dFlex;
	&:hover{
	.components__icon{	
		color: #000;
		@include transform(translateY(-10px));
		}
	}
}
.components__icon{
	@include transition(all, .3s);
	color: #34B1DF;
	margin-right: 10px;
	font-size: 2rem;
}
.components__article{}
.components__article-header{font: bold 18px Arial,sans-serif;}
.components__article-content{font: $fz-service Arial,sans-serif;
	line-height: 25px;
	color: $content-color;
}
.order-to{
	background: transparent url(../img/background/bg-3.jpg) 0 0 no-repeat;
	background-size: cover;
	padding: 60px 0;
}
.order-to__header{color: #fff;}
.order-to__content{color: $content-color2;}
.order-to__btn{
	background-color: transparent;
	border: 1px solid #999;
	font: 1.3rem Arial, sans-serif;
	color: $brand-color;
	display: block;
	margin: auto;
	padding: 10px 20px;
	@include transition(all, .4s, ease-in);
	&:hover{
		background-color: #fff;
		color: #000;
	}
}
.steps{
	.container{
		@include dFlex;
		@include flexFlow(column);
	}
}
.steps__header{}
.steps__content{}
.steps__etaps{
	max-width: 100%;
	height: auto;
}
.steps__etap{
	@include dFlex;
	@include flexFlow(column, nowrap);
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 20vw;
	height: 20vw;
}
.line{
	height: 2px;
	width: 30px;
	background: $brand-color;
	border: none;
	box-shadow: none;
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	left: 0;
}
.steps__etap.n1{
	top: 0;
	left: 0;
}
.steps__etap.n2{
	top: 50%;
	left: 20%;
}
.steps__etap.n3{
	top: 0;
	left: 40%;
}
.steps__etap.n4{
	top: 50%;
	left: 60%;
}
.steps__etap.n5{
	top: 0;
	left: 80%;
}
.steps__etap-content{
	// width: 50px;
	// height: 50px;
	padding: 20px;
	// margin-right: 10px;
	@include dFlex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	background-color: $accent-color;
	border: 0.3vw solid $brand-color;
	border-radius: 100vw;
	box-shadow: 1px 1px 10px #000;
}
.steps__etap-icon{
	color: $brand-color;
	// font-size: 2em;	
}
.steps__etap-name{
	text-align: center;
	width: 40%;
	line-height: 20px;
	color: $content-color;
}
// .steps__steps{max-width: 100%;}
.footer{
	@include dFlex;
	@include flexFlow(column, wrap);
	@include aItem(center);
	background-color: $accent-color;
	justify-content: center;
	padding-bottom: 20px;
	.container{
		@include dFlex;
		@include flexFlow(row,wrap);
		justify-content: center;
		padding: 10px;
	}
}
.footer__stuck-question,
.footer__contact{
}

.footer__stuck-question, .footer__contact{
}
.footer__action,.footer__tel,.footer__skype,.footer__email{color: $content-color2; font-weight: bold; text-align: center;}
.footer__action{
	font: bold 2.5rem Arial, sans-serif;
}
.footer__question,.footer__action{text-transform: uppercase;;}
.footer__question{font: bold 3rem Arial, sans-serif;text-align: center;}

.footer__contact,.footer__tel,.footer__skype{font: bold 1.8rem Arial, sans-serif;;}
.footer__contact{}
.footer__tel,.footer__skype,.footer__email{;;}
.footer__tel{}
.footer__skype{}
.footer__email{font: 1.5rem Arial,sans-serif;}
.footer__btn{
	font: bold 20px Arial, sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: $content-color2;
	border: 1px solid #999;
	background-color: $brand-color;
	padding: 15px 30px;
	@include transition(all, .3s, ease-in);
	display: inline-block;
	margin: auto;
	margin-bottom: 15px;
	&:hover{
		background-color: $brand-color;
		// @extend .mark;
		@include transform(scale(0.9));
	}
}
@import 'config/media';